<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFragment">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Edurion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>

<div id="pagefoot" th:fragment="footerFragment">
    <p>Document last modified 2017/10/23.</p>
    <p>Copyright: Lorem Ipsum</p>
</div>
</body>
</html>