<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: headerFragment"></head>
<body>

<div class="container">
    <table class="table table-striped">
        <caption>Your Userstories are</caption>
        <thead>
        <tr>
            <th>Description</th>
            <th>Target Date</th>
            <th>Is it Done?</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="userstory : ${userstories}">
            <td th:text="${userstory.description}"></td>
            <td th:text="${userstory.targetDate}"></td>
            <td th:text="${userstory.done}"></td>
            <td th:text="${userstory.done}"></td>
            <td><a type="button" class="btn btn-success"
                   th:href="@{/update-userstory?id=${userstory.id}}">Update</a></td>
            <td><a type="button" class="btn btn-warning"
                   th:href="@{/delete-userstory?id=${userstory.id}}">Delete</a></td>
        </tbody>
    </table>

    <div>
        <a class="button" th:href="@{/add-userstory}">Add a Userstory</a>
    </div>
    <div id="pagefoot" th:include="layout :: footerFragment">Footer
    </div>
</div>
</body>
</html>